<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <input type="text" placeholder="Username" name="username" class="usernameLoginInput">
        <br>
        <input type="password" placeholder="Password" name="password" class="passwordLoginInput">
        <input type="submit" value="Submit">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </form>
</body>
</html>